import tkinter as tk
from tkinter import messagebox
from binance.client import Client
from binance.spot import Spot
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime
import configparser
import sys
import os